.select {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 300px;
  gap: 1px;
}

.select_item {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background:lightskyblue;
  transition: background 0.1s;
}

.select_item-selected {
background: blue;
color: white;
}