.carouselComponent {
  width: 100%;
  font-family: sans-serif;
  text-align: center;
}

.carouselContainer {
  position: relative;
  width: 100%;
}

.carouselContainer a:hover {
  background-color: transparent;
}

.carouselImage {
  display: block;
  width: 90%;
  height: 220px;
  border-radius: 10px;
}

.carouselOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5bb1cea1;
}

.carouselContainer:hover .carouselOverlay {
  opacity: 0.7;
  border-radius: 10px;
 
}

.carouselText {
  color: #FFFFFF;
  text-shadow: 1px 1px 0 #000000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}