body {
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%2338005b' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%233e0161' cx='50' cy='100' r='50'/%3E%3Cg fill='%23430167' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2349026d' cx='50' cy='200' r='50'/%3E%3Cg fill='%234f0273' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23550379' cx='50' cy='300' r='50'/%3E%3Cg fill='%235b037f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23610485' cx='50' cy='400' r='50'/%3E%3Cg fill='%2367048b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%236d0591' cx='50' cy='500' r='50'/%3E%3Cg fill='%23740597' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237a059d' cx='50' cy='600' r='50'/%3E%3Cg fill='%238105a3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%238805a9' cx='50' cy='700' r='50'/%3E%3Cg fill='%238e05af' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%239504b5' cx='50' cy='800' r='50'/%3E%3Cg fill='%239c04bb' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a403c1' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ab01c7' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23B200CD' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  color: rgb(173, 172, 172);
  text-align: center;
}

.musicMatch{

padding-left: 10px;
padding-right: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
font-size: 30px;
color:indigo;
text-shadow: 0px 4px 4px grey,  0px 2px 2px white;
}

.page-container {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 0;
  min-height: 100vh;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding-top: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  display: block;
  color: rgb(173, 172, 172);
  text-align: center;
  text-decoration: none;
}

a:hover {
  background-color: #111;
  text-decoration: none;
  color: white;
  border-radius: 60%;
}

li a:hover {
  background-color: #111;
}

.banniere {
  height: 205px;
  margin: 0;
}

.banniere-h1 {
  margin-top: 0;
  padding-top: 80px;
}

@media (max-width: 700px) {
  .banniere {
    font-size: 0.75em;
  }

  .musicMatch{
    display: none;
  }

  .banniere h1{
    padding-top: 30px;
    font-size: 2em;
  }

  .home-h2{
    font-size: 1.5em;
  }

  .title {
    font-size: 1.2em;
  }

  .titleB {
    font-size: 1.2em;
  }
}

footer {
  background-color: #333;
  padding-top: 5px;
  padding-bottom: 30px;
  margin: 0;
  margin-top: 50px;
}

footer p {
  margin: 0;
}

.youtube {
  margin-top: 100px;
}

.teacherCard {
  background-color: #333;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid;
  margin-bottom: 50px;
}

.teacherCard {
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.teacherContent {
  display: flex;
  justify-content: space-between;
}

.teacherButton {
  border-radius: 8px;
  background-color: purple;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.teacherButton:hover {
  transform: translateY(-5px);
  padding-right: 24px;
  padding-left: 8px;
}
.teacherButton:after {
  position: absolute;
  opacity: 0;
  top: 14px;
  transition: 0.5s;
}
.teacherButton:hover {
  padding-right: 24px;
  padding-left: 8px;
}
.teacherButton:hover:after {
  opacity: 1;
  right: 10px;
}

.userImage:hover {
  width: 160px;
  cursor: zoom-in;
}
.infos {
  font-size: 13px;
  padding: 5px;
}

.ourCard {
  padding-top: 0px;
  padding-bottom: 20px;
  border: solid;
  min-width: 280px;
  min-height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 30px;
  margin-bottom: 50px;
}

.ourImage {
  margin-top: 10px;
  border-radius: 20px;
}

.ourName {
  margin-top: 40px;
  margin-bottom: 20px;
}

.ourCards {
  display: grid;
  padding-left: 10%;
  margin-top: 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-bottom: 150px;
  width: 90%;
}

@media (min-width:700px) and (max-width:1200px) {
  .ourCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width:300px) and (max-width:700px) {
  .ourCards {
    grid-template-columns: repeat(1, 1fr);
  }
}
